* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "filtros filtros"
    "productos productos"
    "piepag piepag";
  padding-bottom: 10vh;
}
.navbar {
  color: #fce481;
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  grid-area: navbar;
  height: 10vh;
}
.nav-botones{
  display: none;
}
.filtros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #cbcec9;
  grid-area: filtros;
  height: 100%;
}
.grilla-productos {
  display: flex;
  padding: 1.5em;
  background-color: #ffffff;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  min-height: 100vh;
  grid-area: productos;
}
.caja-pr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 25em;
  min-height: 25em;
}
.caja-pr img {
  width: 100%;
  max-height: 25em;
  object-fit: cover;
}
button {
  width: 100%;
}

.piepag {
  display: flex;
  color: #cbcec9;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  height: 10vh;
  grid-area: piepag;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 577px) {
  body {
    display: grid;
    grid-template-areas:
      "navbar navbar"
      "filtros productos"
      "piepag piepag";
    padding-bottom: 10vh;
  }
  .filtros {
    justify-content: start;
    height: auto;
    align-self: start;
    height: 100%;
  }
  .caja-pr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    min-height: 10em;
  }
  .caja-pr img {
    width: 100%;
    max-height: 10em;
    object-fit: cover;
  }
  .boton{
    display: none;
  }
  .nav-botones{
    display: flex;
    gap: 1em;
  }
}
