* {
  margin: 0;
  padding: 0.3em;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}
h1 {
  font-weight: lighter;
}
.toDoList {
  background-color: #ebeceb;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-height: 40vh;
}
.toDoListTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1em;
}
.inputDiv {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
input {
  width: 75%;
}
.btnAdd {
  color: #ebeceb;
  background-color: #197641;
  width: 10vw;
}
.toDoListBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tasksIn {
  width: 45%;
}
.tasksList {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.tasksTitle {
  display: flex;
  flex-direction: row;
}
.tasksBlock {
  font-size: 13px;
}
.checkbox {
  width: 15px;
  height: 15px;
}
.btnErase {
  all: unset;
  padding-left: 1em;
}
.btnErase:hover {
  transform: scale(1.1);
}
.btnErase:active {
  filter: brightness(0.6);
}
.liDiv {
  display: flex;
  flex-direction: row;
  padding: unset;
}
.btnDiv {
  display: flex;
  align-items: center;
}
